{% extends  "base.html" %}

{% block content %}

<div class="row">
    <div class="span12">
        <h2>О компании</h2>
        <p class="lead">Компания «Коллекция путешествий» на рынке туристических услуг с 1994 года.
        Задачи внедрения передовых технологий и качественно новых принципов приема гостей Республики Беларусь, которые были поставлены перед работниками компании с первого дня ее выхода на рынок туристических услуг, позволили нам заслужить высокую деловую репутацию у зарубежных и отечественных партнеров. Об этом свидетельствует растущее количество наших постоянных клиентов.</p>
        <h5>В июне 2002 года в нашей компании открыто представительство</h5>
        <p>
            Сегодня мы профессионально обслуживаем иностранные туристические группы и индивидуальных путешественников, предоставляя в    Беларуси сервис от экономичного до VIP. В числе наиболее востребованных услуг:
            размещение в гостиницах с предоставлением существенных скидок,
            визовая поддержка, встречи и проводы гостей с соблюдением требований делового и международного протокола,
            услуги автотранспорта и квалифицированных переводчиков,
            экскурсионное обслуживание и организация досуга.
        </p>
        <h5>а с июня 2005 года «Вокруг Света» является генеральным представительством крупнейшего российского туристического холдинга</h5>
        <p>
            Белорусским путешественникам, как ведущий туроператор, мы предлагаем собственные туристские продукты: отдых на море, лыжные, оздоровительные и познавательные туры, экскурсии, путешествия и экспедиции. География наших предложений – страны Европы, Азии, Африки и Америки.
            Для корпоративных клиентов мы обеспечиваем полный комплекс делового туристического обслуживания от бронирования гостиниц до организации семинаров во многих странах мира.
        </p>
    </div>
</div>

{% endblock%}
